
body{
    margin: 0;
}


.cenfo-logo{
    height:15%;
    width: 15%;
    padding: 0 0 0 4.5rem;
}

.logo{
    height:30%;
    width: 82%;
}

.banner-text{
    text-align: center;
    color: white;
    padding-right: 10%;
}

.game-info{
    border: 1px solid;
    padding-top: 1%;
}

.game-words{
    border: 1px solid;
    padding-top: 4%;
}

.game-interaction{
    border-top: 1px solid;
   
}

.ahorcado-Img{
    height: 20%;
    width:  20%;
    padding-bottom: 5%;
}

.counterIcons{
    margin: 0 2%;
}

.guessWord{
    margin: 5% 0 2% 0;
}

.playButtons{
    margin: 1% 1%;
}

.guessGroup{
    margin: 5% 0 0 0;
}

#banner{
  background-color: black;
  color: white;
}